<?xml version="1.0" ?>
<launch>
  <param name="robot_description" textfile="$(find exhx5_description)/urdf/exhx5.urdf"/>

  <!-- Send fake joint values, Need to modify /source list -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
    <rosparam param="/source_list">[/robotis/present_joint_states]</rosparam>
  </node>

  <!-- Combine joint values,Need to modify /joint_states -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <remap from="/joint_states" to="/robotis/present_joint_states" />
  </node>

  <!-- Show in Rviz   -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find exhx5_description)/urdf/exhx5.urdf"/>
</launch>